requests
pymupdf<1.25.3
tqdm
tenacity
numpy
gradio<5.36
huggingface_hub
torch>=2.0.0
ultralytics>=8.0.0
opencv-python-headless
pdfminer-six==20250416
gradio_pdf>=0.0.21
pikepdf
peewee>=3.17.8
fontTools
babeldoc>=0.1.22,<0.3.0
rich
argostranslate

